:root {
    --primary-color: #ff8886;
    --secondary-color: #ffe7e6;
    --tertiary-color: #ffc586;
    --bag-color: #ffead3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bag-color);
    font-family: Arial, Helvetica, sans-serif;
   }

   /* Header Style Start */
header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    margin: 0
}

header nav {
    display:flex;
    padding-top: 15px;
    margin: 7px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    color: var(--tertiary-color);
}

footer {
    background: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    width: 100%;
    padding: 10px 30px;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 400px;
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-cta h2 {
    font-size: 55px;
    color: var(--tertiary-color);
    border: 3px solid var(--primary-color);
    padding: 20px;
    position: absolute;
    top: 350px;
   right: 20px;
  
}

/* About Me Style Start*/
/* section {
    display: grid;
    padding: 60px;
} */

.about-me  {
    display: grid;
    padding: 60px;
}

/* Contact me Style Start */

.contact-me {
   
    
}

a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}


/*
  /* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other 
  @media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  /* If screen size is more than 600px wide, set the font-size of <div> to 80px 
@media screen and (min-width: 600px) {
    div.example {
      font-size: 80px;
    }
  }
  
  /* If screen size is 600px wide, or less, set the font-size of <div> to 30px 
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  } 
*/